%table
    %thead
        %tr
            %th Community
            %th ID
            %th Picture
            %th Name
            %th Email
            %th Confirmed Email?
            - if defined? show_target and show_target
                %th Target ID
    %tbody
        - users.each do |user|

            %tr
                - if user.community.nil?
                    %td No Community
                - else
                    %td= user.community.name
                %td= user.id
                %td
                    = image_tag user.image
                %td= user.name.to_s.force_encoding("UTF-8")
                %td= user.email.to_s.force_encoding("UTF-8")
                %td= user.confirmed_email
                - if defined? show_target and show_target
                    %td= user.players.take.target.user.id
