%table
    %thead
        %tr
            %th Community
            %th ID
            %th Picture
            %th Name
            %th Email
            %th Confirmed Email?
            - if defined? show_target and show_target
                %th Target ID
    %tbody
        - users.each do |user|
            %tr
                %td= user.community.name
                %td= user.id
                %td
                    = image_tag user.image
                %td= user.name
                %td= user.email
                %td= user.confirmed_email
                - if defined? show_target and show_target
                    %td= Player.find(user.players.first.target_id).user.id
