%h2
    Hello
    = @admin.school.name
    admin!

%h3 Stats

%table.table.table-bordered
    %tbody
        %thead
            %tr
                %th
                %th
        %tr
            %td Registered Players
            %td= @users.count

%h3 Here are the communities
%table
    %thead
        %tr
            %th Community Name
            %th Registration Code
    %tbody
        - @admin.school.communities.each do |community|
            %tr
                %td
                    = link_to community.name, admin_community_url(:community_id => community.id)
                %td= community.hash1

%p (Email willyxiao@gmail.com if any of these players shouldn't be here!)

= render 'users', locals: { users: @users }
