.row
    .small-12.columns
        = render partial: 'shared/stats', locals: { stats: @stats }
.row
    .small-12.columns
        %table
            %thead
                %tr
                    %th School
                    %th Name
                    %th Registered
                    %th Players
                    %th Kills
                    %th Deaths
                    %th Still Alive
                    %th Game Start
                    %th Last Kill
            %tbody
                - @communities.each do |community|
                    %tr
                        %td= community[:school]
                        %td= community[:name]
                        %td= community[:registered]
                        %td= community[:players]
                        %td{ style: "color: red" }= "-#{community[:kills]}"                        
                        %td{ style: "color: red" }= "-#{community[:deaths]}"
                        %td= community[:players].to_i - community[:deaths].to_i
                        %td= community[:game_start]
                        - if not community[:last_kill].nil? 
                            %td= time_ago_in_words(community[:last_kill])
= render partial: 'users', locals: { users: @users }