%table
    %thead
        %tr
            %th School
            %th Name
            %th Registered
            %th Players
            %th Deaths
            %th Still Alive
    %tbody
        - @communities.each do |community|
            %tr
                %td= community[:school]
                %td= community[:name]
                %td= community[:registered]
                %td= community[:players]
                %td= community[:deaths]
                %td= community[:players].to_i - community[:deaths].to_i
= render partial: 'users', locals: { users: @users }