.row
    .small-12.columns
        %h3.subheader Here are some statistics across all games being played.
        %ul.small-block-grid-2.large-block-grid-6.text-center
            %li 
                .fa.fa-user.fa-border.fa-5x
                %p
                    = stats[:users]
                    users signed up
            %li
                .fa.fa-child.fa-border.fa-5x
                %p
                    = stats[:active]
                    in active games
            %li
                .fa.fa-heartbeat.fa-border.fa-5x
                %p
                    = stats[:alive]
                    still alive
            %li
                .fa.fa-users.fa-border.fa-5x                
                %p
                    = stats[:communities]
                    communities
            %li
                .fa.fa-eye.fa-border.fa-5x                
                %p
                    = stats[:malariafactviews]
                    facts seen
            %li
                .fa.fa-question.fa-border.fa-5x
                %p
                    = stats[:questions]
                    questions answered