.row
    .small-12.columns
        %h3 Welcome to Malaria Assassins
        %h3.subheader Here are some statistics across all games being played.
        .row.text-center
            .small-2.columns
                .fa.fa-user.fa-border.fa-5x
                %p
                    = stats[:users]
                    users signed up
            .small-2.columns
                .fa.fa-child.fa-border.fa-5x
                %p
                    = stats[:active]
                    actively playing
            .small-2.columns
                .fa.fa-heartbeat.fa-border.fa-5x
                %p
                    = stats[:alive]
                    still alive
            .small-2.columns
                .fa.fa-users.fa-border.fa-5x                
                %p
                    = stats[:communities]
                    communities
            .small-2.columns
                .fa.fa-eye.fa-border.fa-5x                
                %p
                    = stats[:malariafactviews]
                    facts seen
            .small-2.columns
                .fa.fa-question.fa-border.fa-5x
                %p
                    = stats[:questions]
                    questions answered