<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <META name="keywords" content="malaria, malaria.buzz, malaria buzz, mosquitos suck, malaria sucks, mosquitoes suck, malaria assassins">
    <title><%= content_for?(:title) ? yield(:title) : "Malaria Assassins" %></title>

  <!--include links to stylesheets and javascript used-->
    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "vendor/flipclock" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "vendor/flipclock" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
  </head>

  <body>
  
  <h1 class="text-center">MALARIA ASSASSINS</h1>
  
  <!--navigation bar (top of page)-->
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <!--home page-->
        <h1><a href="/">Malaria Assassins</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
  
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li><a href="about.html">About</a></li>
      </ul>
  
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown"><a href="#">The Game</a>
        <ul class="dropdown">
            <li><a href="dashboard.html">DASHBOARD</a></li>
            <li><a href="rules.html">RULES</a></li>
        </ul>
        </li>
        <li class="has-dropdown">
          <a href="#">Malaria</a>
          <ul class="dropdown">
            <li><a href="quiz.html">QUIZ</a></li>
            <li><a href="get_involved.html">GET INVOLVED</a></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
  
  <!--Flash Messages-->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
  
  <div class="row">
  <div class="large-1 columns"></div>
  <div class="large-10 columns"></div>
  <%= yield %>
    <div class="large-1 columns"></div>
</div>
  <br />
  <br />
  <br />
  <hr>
  <p><i>Copyright 2015 Harvard Malaria Competition Winners</i> | Bianca Mulaney for CS50</p>
  <p><i>Sponsored by the <a href="https://www.defeatingmalaria.harvard.edu">Defeating Malaria Initiative</a></i></p>


  </body>
</html>
